/* #region global styles */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.bordinha {
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, rgb(40, 40, 50), yellow, rgb(40, 40, 50));
}

h1 span {
	color: yellow;
}

/* #endregion */

/* #region header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 70px;
	background-color: rgb(60, 60, 60);
}

header img {
	max-height: 60px;
	margin-left: 20px;
	border-radius: 50%;
}

.navHeader {
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.navHeader a {
	padding: 5px;
	color: rgb(170, 170, 170);
	font-size: 20px;
	text-decoration: none;
	transition: 200ms ease-in-out;
}

.navHeader a:hover {
	transform: translateY(-5px);
	color: white;
}

header .navContact {
	margin-right: 20px;
	padding: 5px;
	border-radius: 5px;
	background-color: yellow;
	box-shadow: 0 0 3px yellow;
	color: black;
	font-size: 20px;
	text-decoration: none;
	transition: 200ms;
}

header .navContact:hover {
	box-shadow: 0 0 10px yellow;
}

/* #endregion */

/* #region presentation */
.presentation {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 900px;
	background-color: rgb(40, 40, 50);
}

.presText {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(100, 100, 100);
	box-shadow: 0 0 5px yellow;
	color: white;
}

.presText h1 {
	margin-bottom: 20px;
	font-size: 48px;
}

.presText p {
	margin-bottom: 20px;
	font-size: 24px;
}

.presentation img {
	width: auto;
	max-height: 500px;
	border-radius: 50%;
	box-shadow: 0 0 10px yellow;
}

.presText a {
	width: fit-content;
	padding: 10px;
	border-radius: 5px;
	background-color: yellow;
	box-shadow: 0 0 3px yellow;
	color: black;
	text-decoration: none;
	transition: 200ms;
}

.presText a:hover {
	box-shadow: 0 0 10px yellow;
}

/* #endregion */

/* #region habilities */
.habs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 800px;
	background-color: rgb(40, 40, 50);
}

.habsContainer {
	display: flex;
	justify-content: space-around;
	width: 80%;
	gap: 20px;
}

.habs h1 {
	margin: 20px;
	padding: 20px;
	color: white;
	font-size: 48px;
}

.habsItem1 {
	display: inherit;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 300px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(100, 100, 100);
	box-shadow: 0 0 5px yellow;
	transition: 100ms;
}

.habsItem1:hover {
	transform: scale(1.01);
}

.habsItem1 img {
	width: fit-content;
	height: 100px;
	margin: 20px;
}

.habsItem2 {
	display: inherit;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 300px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(100, 100, 100);
	box-shadow: 0 0 5px yellow;
	transition: 200ms;
}

.habsItem2:hover {
	transform: scale(1.01);
}

.habsItem2 img {
	height: 100px;
	margin: 20px;
}

.habsItem3 {
	display: inherit;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 300px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(100, 100, 100);
	box-shadow: 0 0 5px yellow;
	transition: 200ms;
}

.habsItem3:hover {
	transform: scale(1.01);
}

.habsItem3 img {
	height: 100px;
	margin: 20px;
}

/* #endregion */

/* #region about */

.sobre {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 800px;
	padding: 20px;
	background-color: rgb(40, 40, 50);
}

.sobreText {
	width: 80%;
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(100, 100, 100);
	box-shadow: 0 0 5px yellow;
}

.sobre h1 {
	padding: 20px;
	color: white;
	font-size: 48px;
	text-align: center;
}

.sobre p {
	color: white;
	font-size: 24px;
}

/* #endregion */

/* #region projects */
.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 800px;
	background-color: rgb(40, 40, 50);
	color: white;
}

.projects h1 {
	margin: 20px;
	font-size: 48px;
}

.projContainer {
	display: flex;
	justify-content: space-around;
	width: 60%;
	gap: 20px;
}

.proj1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 400px;
	padding: 15px;
	border-radius: 5px;
	background-color: rgb(100, 100, 100);
}

.proj1 h1 {
	color: black;
	font-size: 28px;
}

.proj1 a {
	width: 50%;
	padding: 15px;
	border: 1px solid yellow;
	border-radius: 5px;
	background-color: yellow;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: 200ms;
}

.proj1 a:hover {
	width: 60%;
	background-color: hsl(50, 50%, 30%);
	color: white;
}

.proj1 img {
	width: auto;
	height: 200px;
	margin-bottom: 15px;
}

.proj2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 400px;
	padding: 15px;
	border-radius: 5px;
	background-color: rgb(100, 100, 100);
}

.proj2 h1 {
	color: black;
	font-size: 28px;
}

.proj2 a {
	width: 50%;
	padding: 15px;
	border: 1px solid yellow;
	border-radius: 5px;
	background-color: yellow;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: 200ms;
}

.proj2 a:hover {
	width: 60%;
	background-color: hsl(50, 50%, 30%);
	color: white;
}

.proj2 img {
	width: auto;
	height: 200px;
	margin-bottom: 15px;
}

.proj3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 400px;
	padding: 15px;
	border-radius: 5px;
	background-color: rgb(100, 100, 100);
}

.proj3 h1 {
	color: black;
	font-size: 28px;
}

.proj3 a {
	width: 50%;
	padding: 15px;
	border: 1px solid yellow;
	border-radius: 5px;
	background-color: yellow;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: 200ms;
}

.proj3 a:hover {
	width: 60%;
	background-color: hsl(50, 50%, 30%);
	color: white;
}

.proj3 img {
	width: auto;
	height: 200px;
	margin-bottom: 15px;
}

/* #endregion */
